.container {
    margin: 0 auto;
    max-width: 1400px; 
}

body{
    font-family: 'Poppins', sans-serif;
    background: #272044;
}

main{
    background-color: white;
}

main h2{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 5px;
    color: #272044;
    opacity: 0.3;
    margin: 0;
}

main h3{
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    color: #272044;
    margin: 0;
}

main h4{
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    color: #272044;
    margin: 0;
 }

 main h5{
    font-weight: 700;
    font-size: 13px;
    line-height:1;
    color: #272044;
    margin: 0;
 }

main p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #272044;
    opacity: 0.7;
}
section{
    max-width: 100%;
    margin: 0 auto;
    padding: 100px;
}

section.secondary{
    background:#f8f8f8;
}

 header h1{
    font-weight: 700;
    font-size: 96px;
    line-height: 1;
    margin: 30px 0;
}

 header h2{
    font-weight: 400;
    font-size: 40px;
    line-height: 1.5;
    margin: 0;
}

 header h3{
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    margin: 0;
    letter-spacing: 5px;

}

header a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 5px;
    border: solid 1px white;
    border-radius: 10px;
    padding: 16px 32px;
    margin-top: 30px;
    display: inline-block;
}

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 130px 0px;
    color: white;
}

footer{
    background-image: linear-gradient(rgba(39,32,68,0.9), rgba(39,32,68,0.9)),
    url("../images/footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

footer h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

footer a {
    color: white;
    text-decoration: none;
    opacity: 0.7;
    
}

footer p{
    font-weight: 400;
    font-size: 16px;
    opacity: 0.7;
    line-height: 24px;
}

footer li{
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul{
    padding: 0;
}

.grid {
 display:grid;
 grid-gap: 64px;
}

 .grid-2-colums {
grid-template-columns: 1fr 1fr;
 }

 .grid-3-colums{
    grid-template-columns: 1fr 2fr 2fr;
 }

 .grid-3-equal-colums{
grid-template-columns: 1fr 1fr 1fr;
 }

 .card{
    background: white;
    margin-top: 30px;
 }

 .card-header.grid{
    grid-gap:0;
 }
.card-body{
    padding: 30px;
}
 .responsive{
width: 100%;
aspect-ratio: 1/1;
display: block;
 }

 .embed{
    width: 100%;
    aspect-ratio: 1/1;
 }
.text-center{
    text-align: center;
}

.grid-btn{
    display: block;
    color: white;
font-weight: 700;
font-size: 14px;
line-height: 1.5;
text-align: center;
letter-spacing: 3px;
padding: 16px;
text-decoration: none;
background-color: #272044;
}
@media (max-width: 960px){
     header h1{
       font-size: 40px; 
    }

    header h2{
        font-size: 20px;
    }
    header h3{
        font-size: 12px;
    }
    header a {
        font-size: 7px;
        padding: 8px 16px ;
    }

    .grid{
        grid-template-columns: 1fr;
        grid-gap: 32px;
    }

    section{
        padding: 60px;
    }
}